<div class="container mt-5">
  <div class="d-flex align-items-center justify-content-between">
    <h1>All our Flats</h1>
    <%= link_to new_flat_path do %>
      <i class="fas fa-plus btn-light"></i>
    <% end %>
  </div>
  <div class="cards">
    <% @flats.each do |flat| %>
      <%= render 'flats/card', flat: flat %>
    <% end %>
  </div>
</div>
